DATABASE_CONNECT_URL = your_database_connect_url_here

SECRET_KEY = your_secret_key_here
ALGORITHM = your_algorithm_here

POSTGRES_USER = your_postgres_user_here
POSTGRES_PASSWORD = =your_postgres_password_here
POSTGRES_DB = your_postgres_db_here

MAIL_USERNAME=your_mail_username_here
MAIL_PASSWORD=your_mail_password_here
MAIL_FROM=your_mail_from_here
MAIL_PORT=your_mail_port_here
MAIL_SERVER=your_mail_server_here


CLD_NAME=your_cloudinary_name_here
CLD_API_KEY=your_cloudinary_api_key_here
CLD_API_SECRET=your_cloudinary_api_secret_here

REDIS_URL=redis://localhost:6379